@using Fitness1919.Web.ViewModels.Product
@model ProductDeleteViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt> <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt> <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt> <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt> <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.img)
        </dt> <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt> <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrandId)
        </dt>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>