@using Fitness1919.Web.ViewModels.Product
@model IEnumerable<ProductAllViewModel>

@{
    ViewData["Title"] = "All Products";
}

<h1>All Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Image</th>
            <th>Category</th>
            <th>Brand</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Quantity</td>
                <td>@product.Price</td>
                <td>@product.img</td>
                <td>@product.Category</td>
                <td>@product.Brand</td>
            </tr>
        }
    </tbody>
</table>
