@using Fitness1919.Web.ViewModels.Product
@model ProductIndexViewModel

@{
    ViewData["Title"] = "Products";
}

<link rel="stylesheet" href="~/css/product/productsIndex.css">

<h1>Products</h1>
<p></p>
<form asp-action="Index" method="get" class="filter-form">
    <label style="color:#FFD700" for="categoryFilter">Category:</label>
    <select id="categoryFilter" name="categoryFilter">
        <option class="allOption" value="">All Categories</option>
        @foreach (var category in Model.Categories)
        {
            <option class="filterValue" value="@category.CategoryName">@category.CategoryName</option>
        }
    </select>

    <label style="color:#FFD700" for="brandFilter">Brand:</label>
    <select id="brandFilter" name="brandFilter">
        <option class="allOption" value="">All Brands</option>
        @foreach (var brand in Model.Brands)
        {
            <option class="filterValue" value="@brand.BrandName">@brand.BrandName</option>
        }
    </select>

    <label style="color:#FFD700" for="orderBy">Order By:</label>
    <select id="orderBy" name="orderBy">
        <option class="orderByOption" value="asc">Price Ascending</option>
        <option class="orderByOption" value="desc">Price Descending</option>
    </select>

    <button class="filterButton" type="submit">Filter</button>
</form>
<br />
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <p style="color:red;">@TempData["ErrorMessage"]</p>
    </div>
}

<div class="product-table">
    @if (Model.Products.Any())
    {
        @foreach (var item in Model.Products)
        {
            <div class="product-box">
                <img class="product-image" src="@item.img" alt="Image" />
                <div class="product-description">@Html.DisplayFor(modelItem => item.Description)</div>
                <div class="product-price">Price: @Html.DisplayFor(modelItem => item.Price) lv</div>
                <div>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <a class="details" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                </div>
            </div>
        }
    }
    else
    {
        <h2 style="color:red; text-align: center;">No products were found!</h2>
    }
</div>
