@using Fitness1919.Web.ViewModels.ShoppingCart
@model CheckoutViewModel

<link rel="stylesheet" href="~/css/shoppingCart/checkout.css" true" />

<div class="center-container">
    @if (TempData["ErrorMessage"] != null)
    {
        <p>@TempData["ErrorMessage"]</p>
    }
    else
    {
        <h2>Checkout</h2>

        @using (Html.BeginForm("Checkout", "ShoppingCart", FormMethod.Post))
        {
            <div>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>

            <div>
                @Html.LabelFor(m => m.Address)
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                <span asp-validation-for="Address" class="small text-danger"></span>
            </div>

            <div>
                @Html.LabelFor(m => m.PhoneNumber)
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
            </div>

            <input type="submit" value="Place Order" class="btn btn-primary" />
        }
    }
</div>
@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}
