@using Fitness1919.Web.ViewModels.ShoppingCart
@model ShoppingCartViewModel

<h1>Shopping Cart</h1>
@if(TempData["ErrorMessage"] != null)
{
    <p>@TempData["ErrorMessage"]</p>
}
@if (Model.Products.Count() == 0)
{
    <p>No products in you cart!</p>
    <a asp-controller="Products" asp-action"Index">View all products</a>
}
else
{
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Quantity</td>
                <td>@product.Price.ToString("f2")</td>
                <td>
                    <form asp-controller="ShoppingCart" asp-action="RemoveFromCart" method="post">
                        <input type="hidden" name="productId" value="@product.Id" />
                        <button type="submit">Remove</button>
                    </form>

                </td>
            </tr>
        }
    </table>
    <a asp-controller="ShoppingCart" asp-action="Checkout" class="btn btn-primary">Checkout</a>
    <form asp-controller="ShoppingCart" asp-action="RemoveAllProducts" method="post">
        <button type="submit">Remove All</button>
    </form>
    <h3>Total Price: @Model.Products.Sum(p => p.Price * p.Quantity).ToString("f2")</h3>
}
