@using Fitness1919.Web.ViewModels.Contact
@model IEnumerable<ContactAllViewModel>
@{
    ViewData["Title"] = "All Contacts";
}

<link rel="stylesheet" href="~/css/contact/index.css" asp-append-version="true" />
<pre></pre><pre></pre><pre></pre>
<h1>All Contacts</h1>
@if (this.User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @if (this.User.IsInRole("Administrator"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<h3>Or come to our physical store:</h3>
<div id="map-container-google-3" class="z-depth-1-half map-container-3">
    <iframe src="https://maps.google.com/maps?q=pernik&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
            style="border:0" allowfullscreen></iframe>
</div>
