<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fitness1919</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Fitness1919.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/shared/layout.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="navbar">
                        <div class="container nav-container">
                            <input class="checkbox" type="checkbox" name="" id="" style="z-index:210;"/>
                            <div class="hamburger-lines" style="z-index:200;">
                                <span class="line line1" style="z-index:200;"></span>
                                <span class="line line2" style="z-index:200;"></span>
                                <span class="line line3" style="z-index:200;"></span>
                            </div>
                            <div class="login-container" style="display:flex;flex-direction:row;">
                                <form class="form-inline my-2 my-lg-0" method="get" action="@Url.Action("Search", "Products")" style="padding-top:11.2px;margin-right:25px;">
                                    <div class="search_text_box">
                                        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search products..." value="@ViewBag.SearchTerm">
                                    </div>
                                    <div class="search_button">
                                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><img src="https://icon-library.com/images/white-search-icon-png/white-search-icon-png-9.jpg" alt="Privacy" style="width: 20px; height: 20px;" /></button>
                                    </div>
                                </form>
                                <partial name="_LoginPartial" />
                            </div>
                            <div class="menu-items">
                                <a asp-controller="Home" asp-action="Index">Home</a>
                                <a asp-controller="Products" asp-action="Index">Products</a>
                                <a asp-controller="Contacts" asp-action="Index">Contacts</a>
                                <a asp-controller="CalorieCalculator" asp-action="Index">Calorie Calculator</a>
                                <a asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; Fitness1919 - @ReleaseYear
            @if (DateTime.UtcNow.Year != ReleaseYear)
            {
                @Html.Raw($" - {DateTime.UtcNow.Year}")
            }
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
